:root{
    --bg-color: #FFFFFF;
   --holder-color: #1F271B;
   --accent-color: #DCC7BE;
   --strong-accent: #CBB9A8;
   --light-action: #47a7e2;
   --action-color: #067BC2;
   --active-action: #00008F;
   --search-color :#FF3864;
   --search-active :#E00031;
}
a, #text-logo{
    color: var(--accent-color) !important;
}
h1,h2,p,a:hover,.h4:hover, #text-logo:hover, input, *{
    color: var(--strong-accent) !important;
}
.mk-icon{
    color: var(--strong-accent);
}
input[type="checkbox"]:checked > span{
    background-color: var(--strong-accent);
}
.custom-check{
    position: relative;
    padding-left: 25px;
    display: inline !important;
}
.custom-check input{
    position: absolute;
    top: 0;
    left: 0;
    opacity: 100%;
    height: 20px;
    width: 20px;
}
.custom-check-target{
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    border: 1px solid #eee;
    pointer-events: none;
}
.custom-check input:checked ~ .custom-check-target {
    background-color: var(--active-action);
}
.custom-check:hover  input ~ .custom-check-target{
    background-color: var(--action-color);
}
.custom-check-target:after {
    content: "";
    position: absolute;
    display: none;
}
.custom-check input:checked ~ .custom-check-target:after {
    display: block;
}
.mk-text-center{
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
}
.text-dark{
    color: var(--holder-color) !important;
}
body{
    overflow-x:hidden;
    background-color: var(--bg-color) !important;
  }
.navbar{
    min-height: 8vh;
}
.mk-page{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.mk-part-page{
    min-height: 60vh;
}
.mk-long-page{
    min-height: 92vh;
}
.mk-solo-page{
    min-height: 77vh;
}
.mk-background{
    background-color: black;
}
.mk-flex-center{
    display: flex;
    align-items: center;
    text-align: center;
}
#landing-input-holder{
    position: relative;
    margin-bottom: 6vh;
}
#landing-input{
    width: 75%;
    position: absolute;
    left: 0px;
}
#landing-search{
    width: 25%;
    position: absolute;
    left: 75%;
    text-align: center;
}
#landing-search:hover{
    background-color: var(--active-action) !important;
    color: var(--bg-color) !important;
}
#landing-search-icon{
    position: absolute;
    left: 10px;
    z-index: 1;
    font-size: 1.25em;
    height: 5vh;
    display: flex;
    align-items: center;
}
#landing-page{
    padding: 0px;
    background-image: url("../imgs/main.jpg");
    background-size: cover;
    background-position: center;
  }
#search-holder{
    width: 80%;
    margin: 0% auto;
    min-height: 8vh;
    display: flex;
    position: relative;
    gap: 10px;
    align-items: center;
}
#search-header{
    font-size: 1.5em;
}
input, select, option, textarea, .btn-light, td, th{
    color: var(--holder-color) !important;
}
.btn-light:hover{
    color: var(--holder-color) !important;
}
.btn-danger, .btn-success, .btn-info, .btn-primary{
    color: var(--bg-color) !important;
}
.btn-danger:hover, .btn-success:hover, .btn-info:hover, .btn-primary:hover{
    color: var(--bg-color) !important;
}
.deep-blue{
    background-color: var(--active-action) !important;
}
.deep-blue:hover{
    color: var(--bg-color) !important;
}
.soft-blue{
    background-color: var(--light-action) !important;
}
.soft-blue:hover{
    background-color: var(--active-action) !important;
    color: var(--bg-color) !important;
}
.mk-button{
    background-color: var(--action-color) !important;
    text-decoration: none;
    color: var(--bg-color) !important;
    height: 5vh;
}
.mk-fix{
    --bs-gutter-x: 0;
}
.mk-introduction{
    width: 100vw;
    height: 15vh;
    background-color: var(--holder-color);
    text-align: center;
    align-items: center;
    justify-content: center;
    padding: 10px 0px;
}
.search-input{
    text-align: left;
    padding: 3px;
    padding-left: 30px !important;
    height: 5vh;
}
.mk-modal {
    position: fixed;
    z-index: 2;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    overflow-y: scroll;
    background-color: rgba(0,0,0,0.4);
}
.mk-modal-content {
    margin: 8% auto;
    color: #f7bd2f !important;
    background-color: #333333;
    padding: 20px;
    border: 1px solid #888;
    width: 90%;
    border-radius: 1%;
}
footer .row{
    height: 100%;
    margin: 0%;
    width: 100%;
}
footer{
    height: 15vh;
}
.error-message{
    color: red !important;
}
.alert-success{
    color: var(--holder-color) !important;
}
.hidden{
    display: none;
}
.active{
    color: var(--strong-accent) !important;
}
.success-outline{
    border: 2px solid green;
}
.error-outline{
    border: 2px solid red;
}
/*Admin panel classes*/
#admin-panel-holder{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
#admin-tabs-holder{
    overflow-x: scroll;
}
#whole-admin-table{
    background-color: var(--strong-accent);
}
.admin-tab{
    color: var(--bg-color) !important;
}
#error-holder{
    position: fixed;
    bottom: 40px;
    right: 20px;
    padding: 20px;
    z-index: 5;
    pointer-events: none;
}
.question-form{
    border: 1px solid black;
    padding: 5%;
    border-radius: 1%;
}
.error-message{
    opacity: 1;
    transition: opacity 200ms ease 0ms;
}
#buildingTypeFilters, #boroughFilters{
    display: inline-flex;
    flex-direction: column;
    flex-basis: auto;
}
.listing{
    position: relative;
    width: 100% !important;
    margin-bottom: 10px;
    padding-bottom: 2%;
    color: black !important;
    /* background-image: radial-gradient( circle 311px at 8.6% 27.9%,  rgba(62,147,252,0.57) 12.9%, rgba(239,183,192,0.44) 91.2% ); */
    background-color: var(--holder-color);
    border: 1px solid black;
    border-radius: 2%;
}
.listing:hover > .listing-cover{
    opacity: 95%;
}
.listing-main{
    position: relative;
    width: 100% !important;
    height: 100%;
    z-index: 1;
}
.listing-cover{
    top: 0px;
    left: 0px;
    position: absolute;
    border-radius: 2%;
    z-index: 2;
    opacity: 0%;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #FFFFFF;
    /* background-image: radial-gradient( circle 311px at 8.6% 27.9%,  rgba(62,147,252,0.57) 12.9%, rgba(239,183,192,0.44) 91.2% ); */
    color: black;
    transition: opacity 100ms ease 20ms;
}
.list-group{
    border-radius: 2%;
}
.listing-footer{
    position: absolute;
    box-sizing: content-box;
    bottom: 5px;
    z-index: 3;
}
.listing-padding{
    padding: 2%;
}
.mk-favorite-icon-holder{
    position: absolute;
    top: 20px;
    right: 10px;
    background-color: white;
    padding: 4px;
    color: red !important;
    border-radius : 50%;
    z-index: 5;
  }
  .mk-favorite-icon-holder:hover{
    color: red !important;
  }
  .mk-favorite-icon-holder:hover{
    scale: 1.10;
  }
  .mk-favorite-icon{
    font-size: 40px;
}
.listing-img{
    position: relative;
}
.listing-body{
    padding: 2%;
}
.listing-desc{
    min-height: 2rem;
    margin-bottom: 0%;
}
.mk-img-fluid{
    width: 100%;
    aspect-ratio: 20/9;
}
#singleListingHolder{
    border: 1px solid black;
    background-color: var(--holder-color);
}
.mk-main-img{
    aspect-ratio: 16/9;
    border: 2px solid black;
    border-radius: 2%;
}

.hide{
    opacity: 0 !important;
    transition: opacity 1800ms ease 0ms;
}
#searchForm{
    width: 70%;
    align-items: center;
}
@media screen and (min-width: 992px) {
    .navbar{
        height: 8vh;
        padding: 0% 2% 0% 2%;
    }
    footer .row{
      padding: 0% 2% 0% 2% !important;
    }
    .listing{
        width: 45% !important;
    }
    .mk-introduction{
        width: 30vw;
        min-width: 30vw;
        min-height: 20vh;
        border-radius: 5%;
    }
    #searchForm{
        width: 100%;
        align-items: baseline;
    }
    .mk-favorite-icon{
        font-size: 50px;
    }
}