    <div class="container-fluid mk-page mk-solo-page">
        <div class="row d-flex w-100 justify-content-center">
          <!--Start of author page-->
          <div class="col-md-8 col-8 p-2 row mk-fix" id="singleListingHolder">
            <!-- Start of author img-->
            <div class="col-12 col-md-2">
              <div class="listing-img w-100">
                <img src="./resources/imgs/author.jpg" alt="" class="img-fluid mk-main-img portrait"/>
              </div>
            </div>
            <!--Start of author description-->
            <div class="col-12 col-md-10" id="listingHolder">
              <div class="listing-body">
                <h3 class="">Ilija Krstić 155/21</h3>
                <p class="">Sole developer of this and many other websites and applications, student at the ICT College of Vocational Studies in Belgrade</p>
                <p>Professional status: Student</p>
                <p>More than three years of experience with web technologies</p>
              </div>
              <div class="d-flex justify-content-between">
                <div class="listing-rooms listing-padding">
                  <h3>Skills</h3>
                  <p>Backend development</p>
                  <p>Database design</p>
                  <p></p>
                </div>
                <div class="contact listing-padding d-flex flex-column">
                  <a href="https://github.com/techbabette" class="btn soft-blue">View Github</a>
                  <a href="https://rs.linkedin.com/in/ilija-krsti%C4%87-b13428134" class="btn soft-blue my-2">View Linkedin</a>
                </div>
              </div>
            </div>
            <!--End of author page-->
          </div>
        </div>
    </div>