    <div class="container-fluid mk-page mk-solo-page">
            <div class="col-7 p-2 row mk-fix justify-content-between text-center">
                <h3 class="my-5">Your favorite listings</h3>
                <div class="col-12 p-2 row mk-fix justify-content-between text-center">
                    <div class="row mk-fix justify-content-between text-center" id="listingHolder">
                      <p class="h3">No listings saved as favorite</p>
                    </div>
                    <div class="row mk-fix flex-row justify-content-around my-2" id="paginationHolder">
                    </div>
                  </div>
            </div>
        </div>
    </div>