<div class="container-fluid mk-page mk-solo-page" id="landing-page">
    <div class="row d-flex w-100">
    <form  class="mk-introduction d-flex flex-column justify-content-center mx-auto" id="landing-form" action="pages/listings.html" method="get">
      <h2 id="search-header">Find your next NYC property</h2>
      <div id="search-holder">
        <div id="landing-input-holder" class="w-100">
        </div>
          <div id="landing-search-icon">
            <i class="mk-icon fa-solid fa-magnifying-glass"></i>
          </div>
          <select name="messageType" class="search-input"  id="landing-input" required>
              <option value="0">All boroughs</option>
          </select>
          <span class="error-msg hidden"></span>
          <a href="" id="landing-search" class="mk-button mk-text-center">Search</a>
      </div>
    </form>
    </div>
    <div id="error-holder" class="d-flex flex-column">
    </div>
  </div>