    <div class="container-fluid mk-page mk-solo-page">
        <div class="row w-100 justify-content-center">
            <div class="col-md-3 col-12 p-2 mx-auto">
              <!--class="d-flex flex-column align-items-center text-center" for form on mobile-->
              <form action="" class="text-dark d-flex flex-column mx-auto" id="searchForm" method="post">
              <div>
                <label for="titleFilter" class="h3 text-dark text-center-on-mobile w-100">Title filter</label>
                <input type="text" class="boroughFilter d-block" name="titleFilter" id="titleFilter" value=""/>
              </div>
              <!--Start of borough filters-->
                <h3 class="text-dark">Borough filter</h3>
                </br>
                <div id="boroughFilters">

                </div>
              <!--End of borough filters-->
              <!--Start of building type filters-->
                <h3 class="text-dark">Building type filter</h3>
                </br>
                <div id="buildingTypeFilters">

                </div>
              <!--End of building type filters-->
              <!--Start of sort option-->
              <div>
                <label class="text-dark h3 text-center-on-mobile d-block" for="listingsSort">Sort</label>
                <select name="" class="form-control" id="listingsSort">
                  <option value="0">Newest first</option>
                  <option value="1">By price (Ascending)</option>
                  <option value="2">By price (Descending)</option>
                  <option value="3">By size (Ascending)</option>
                  <option value="4">By size (Descending)</option>
                </select>
              </div>
              <!--End of sort option-->
              <div>
                <button type="submit" id="searchListings" class="btn soft-blue my-2">Search</button>
                <!-- <button type="reset" class="btn btn-danger">Reset</button> -->
              </div>
            </form>
              <!--This is where the filters will go-->
            </div>
            <div class="col-md-7 col-12 p-2 row mk-fix justify-content-between text-center" id="listingHolder">
            </div>
        </div>
    </div>