      <div class="container-fluid mk-page mk-solo-page">
        <div class="row d-flex justify-content-center w-100">
            <div class="col-6 bg-dark p-4">
                <form id="loginForm">
                    <div class="mb-3">
                      <label for="exampleInputEmail1" class="form-label">Email address</label>
                      <input type="email" class="form-control" id="emailInput" aria-describedby="emailHelp">
                    </div>
                    <div class="mb-3">
                      <label for="exampleInputPassword1" class="form-label">Password</label>
                      <input type="password" class="form-control" id="loginPasswordInput">
                    </div>
                    <button type="submit" id="createNewUser" name="createNewUser" class="btn btn-primary">Submit</button>
                  </form>
            </div>
        </div>
        <div id="error-holder" class="d-flex flex-column">
        </div>
    </div>