    <div class="container-fluid mk-page mk-solo-page">
        <div class="row d-flex w-100 justify-content-center">
            <div class="col-6 bg-dark p-4">
                <form id="registrationForm">
                    <div class="mb-3">
                      <label for="exampleInputEmail1" class="form-label">Email address</label>
                      <input type="email" class="form-control" id="emailInput" aria-describedby="emailHelp">
                      <span class="error-msg hidden"></span>
                      <div id="emailHelp" class="form-text">We'll never share your email with anyone.</div>
                    </div>
                    <div class="mb-3">
                        <label for="nameInput" class="form-label">Name</label>
                        <input type="text" class="form-control" name="firstName" id="nameInput">
                        <span class="error-msg hidden"></span>
                    </div>
                    <div class="mb-3">
                        <label for="lastNameInput" class="form-label">Last name</label>
                        <input type="text" class="form-control" name="lastName" id="lastNameInput">
                        <span class="error-msg hidden"></span>
                    </div>
                    <div class="mb-3">
                      <label for="exampleInputPassword1" class="form-label">Password</label>
                      <input type="password" class="form-control" id="registerPasswordInput">
                      <span class="error-msg hidden"></span>
                    </div>
                    <button type="submit" id="createNewUser" name="createNewUser" class="btn btn-primary">Submit</button>
                  </form>
            </div>
        </div>
    </div>